body {
    h1, p {
        margin: 0;
    }

    margin: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --Orange: #EC7700;
    --Orange-Gradient: radial-gradient(652.15% 474.45% at 26.41% 0.85%, #EB7701 0%, #F27C03 100%);
    --Orange-Gradient-Hover: radial-gradient(652.15% 474.45% at 26.41% 0.85%, #c55d00 0%, #d66b02 100%);
    --Grey-0: #54565A;
    --Grey-2: #47566E;
    --Grey-3: #D9D9D9;
    --Grey-4: #AEAEAE;
    --Green: #61A60E;
    --White: #FFF;
}

.container {
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
}

/* NAVBAR */
.navbar {
    border-bottom: 1px solid var(--Grey-3);
    width: 100%;
}

.navbar-container {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 160px;
    margin: 0 auto;
    box-sizing: border-box;
}

.navbar-account__actions {
    display: flex;
    gap: 8px;
}

.navbar-account__login,
.navbar-account__signup {
    cursor: pointer;
    height: 40px;
    padding: 0 16px;
    border-radius: 6px;
    font-size: 14px;
}

.navbar-account__login {
    background-color: var(--White, #FFF);
    border: 1px solid var(--Grey-0);
    font-weight: 400;
}

.navbar-account__login:hover {
    background-color: #f2f2f2;
}

.navbar-account__signup {
    color: var(--White);
    background: var(--Orange-Gradient);
    border: 1px solid var(--Orange-Gradient);
    font-weight: 500;
}

.navbar-account__signup:hover {
    background: var(--Orange-Gradient-Hover);
    border: 1px solid var(--Orange-Gradient-Hover);
}

/* HERO SECTION */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 156px 120px 80px 120px;
}

.hero-section__title {
    color: var(--Orange);
    font-size: 48px;
    font-weight: 600;
}

.hero-section__text {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 40px;
}

.hero-section__benefits {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 80px;
}

.hero-section__benefit {
    display: flex;
    gap: 16px;
    align-items: center;
}

.hero-section__review-content {
    display: flex;
    gap: 12px;
}

.hero-section__review-stars {
    display: flex;
    gap: 4px;
}

.hero-section__review-summary {
    margin-top: 4px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

.hero-section__review-summary span {
    font-size: 14px;
    font-weight: 400;
    color: var(--Grey-4);
}

/* HERO SECTION CARD */
.hero-section__cta {
    width: 400px;
    max-width: 100%;
}

.hero-section__card {
    position: relative;
    text-align: center;
    border-radius: 16px;
    border: 2px solid var(--Green);
    padding: 40px 40px 24px 40px;
    box-shadow: 0 15px 83px 0 rgba(159, 159, 159, 0.12);
}

.hero-section__card-bonus {
    position: absolute;
    white-space: nowrap;
    border-radius: 4px;
    background: var(--Green);
    padding: 8px 16px;
    color: var(--White);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
}

.hero-section__card-bonus span {
    font-weight: 800;
}

.hero-section__card-title {
    color: var(--Grey-0);
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 24px;
}

.hero-section__card-signup {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.hero-section__card-email {
    height: 56px;
    padding: 12px 16px;
    border-radius: 6px;
    margin-bottom: 12px;
    border: 1px solid var(--Grey-4);
    font-size: 14px;
}

.hero-section__card-email::placeholder {
    color: #909090;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.hero-section__card-email:focus {
    border: 1px solid var(--Orange);
    outline: none;
}

.hero-section__card-button {
    height: 56px;
    border-radius: 6px;
    background: var(--Orange-Gradient);
    border: 1px solid var(--Orange-Gradient);
    color: var(--White);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.32px;
    cursor: pointer;
}

.hero-section__card-button:hover {
    background: var(--Orange-Gradient-Hover);
    border: 1px solid var(--Orange-Gradient-Hover);
}

.hero-section__card-subtitle {
    color: var(--Grey-0);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 16px;
}

.hero-section__card-icons {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 12px;
}

.hero-section__card-icon {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 3px;
    border: 1px solid var(--Grey-3);
    z-index: 10;
    transition: border 0.2s ease-in-out;
}

.hero-section__card-icon:hover {
    border: 1px solid var(--Orange);
}

.hero-section__card-icon img {
    width: 24px;
    height: 24px;
}

.hero-section__card-gdpr {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: var(--Grey-4);
    margin-bottom: 24px;
}

.hero-section__card-gdpr a {
    color: var(--Grey-4);
    cursor: pointer;
    text-decoration-line: underline;
}

.hero-section__card-existing-user {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: var(--Grey-0);
}

.hero-section__card-existing-user a {
    color: var(--Orange);
    text-decoration-line: underline;
}

.hero-section__card-img {
    position: absolute;
    right: -107px;
    bottom: -91px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1168px) {
    .navbar {
        margin-bottom: 0;
    }

    .navbar-container {
        padding: 12px 16px;
    }

    .hero-section {
        flex-direction: column;
        padding: 40px 12px 24px 12px;
    }

    .hero-section__description {
        padding: 0 12px;
    }

    .hero-section__title {
        font-weight: 700;
        font-size: 32px;
        line-height: 48px;
    }

    .hero-section__text {
        font-size: 32px;
    }

    .hero-section__benefits {
        margin-bottom: 44px;
    }

    .hero-section__card {
        padding: 40px 12px 24px 12px;
    }

    .hero-section__card-img {
        display: none;
    }

    .hero-section__review-content {
        margin-top: 32px;
    }
}
